@mixin flex {
    display: flex;
    justify-content: center;
  }

  @mixin flex-col {
    display: flex;
    justify-content: center;
  }

  @mixin font {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 144.5%;
    letter-spacing: 0.08em;
    color: #000000;
  }

  @mixin heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #000000;
  }