.admin-dashboard-table {
    width: 90%;
    box-shadow: 0px 17px 17px rgba(0, 0, 0, 0.25);
}

.admin-dashboard-table table {
    width: 100%;
    padding: 5px;


}

.admin-dashboard-table-heading{
    color: #E4940F;
    text-align: center;
    padding: 1px 0;
    font-family: 'Inter';
}

.admin-dashboard-table-title {
    background: #E5E5E5;
}

.admin-dashboard-table-title td {
    font-weight: 700;
}

.admin-dashboard-details td {
    padding: 8px;
}

.status-paid {
    border: 1px solid green;
    background-color: white;
    height: 25px;
    width: 60px;
    border-radius: 3px;
    color: green;
}

.status-unpaid {
    border: 1px solid rgb(229, 74, 100);
    background-color: white;
    height: 25px;
    width: 60px;
    border-radius: 3px;
    color: rgb(229, 74, 100);
}

.status-pending {
    border: 1px solid orangered;
    background-color: white;
    height: 25px;
    width: 60px;
    border-radius: 3px;
    color: orangered;
}

.admin-dashboard-table td {
    border-bottom: 1px solid #E5E5E5;
}